/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  font: unset;
}

*:focus-visible {
  outline: 2px solid dodgerblue;
  transition: none;
  border-radius: 0px;
  outline-offset: 1px;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

/* Active class */
header .active {
  color: #ff322e;
}

.sub-page .active {
  border-bottom: 2px solid #111111;
}

@media screen and (min-width: 1024px) {
  .bg-image-none {
    background-image: none !important;
  }
}