/* Tailwind CSS */
@tailwind base;

@layer base {
  html {
    @apply text-neutral-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }
}

@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  font: unset;
  /* outline: 1px solid lime; */
}

*:focus-visible {
  outline: 2px solid dodgerblue;
  transition: none;
  border-radius: 0px;
  outline-offset: 1px;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}